<nav class="sheet-tabs tabs">
  <button type="button" data-tab="attributes">{{localize "DEL.Tabs.attributes"}}</button>
  <button type="button" data-tab="skills">{{localize "DEL.Tabs.skills"}}</button>
  <button type="button" data-tab="inventory">{{localize "DEL.Tabs.inventory"}}</button>
  <button type="button" data-tab="effects">{{localize "DEL.Tabs.effects"}}</button>
</nav>