<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  <div class="tab-buttons">
    <button class="tab-button {{#if (eq currentTab 'attributes')}}active{{/if}}" data-tab="attributes">Attributes</button>
    <button class="tab-button {{#if (eq currentTab 'items')}}active{{/if}}" data-tab="items">Items</button>
    <button class="tab-button {{#if (eq currentTab 'notes')}}active{{/if}}" data-tab="notes">Notes</button>
    <button class="tab-button {{#if (eq currentTab 'effects')}}active{{/if}}" data-tab="effects">Effects</button>
  </div>
  <section class="sheet-body">
    {{#if (eq currentTab 'attributes')}}
    <div class="tab attributes">
      <div class="attributes-section">
        <div class="attribute health">
          <label>HP</label>
          <div class="flexrow">
            <button type="button" data-action="decrease" data-attribute="health">-</button>
            <input type="number" name="system.attributes.health.value" value="{{system.attributes.health.value}}" min="0" max="{{system.attributes.health.max}}"/>
            <span>/</span>
            <input type="number" name="system.attributes.health.max" value="{{system.attributes.health.max}}" min="0"/>
            <button type="button" data-action="increase" data-attribute="health">+</button>
          </div>
        </div>
        <div class="attribute faith">
          <label>FP</label>
          <div class="flexrow">
            <button type="button" data-action="decrease" data-attribute="faith">-</button>
            <input type="number" name="system.attributes.faith.value" value="{{system.attributes.faith.value}}" min="0" max="{{system.attributes.faith.max}}"/>
            <span>/</span>
            <input type="number" name="system.attributes.faith.max" value="{{system.attributes.faith.max}}" min="0"/>
            <button type="button" data-action="increase" data-attribute="faith">+</button>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    {{#if (eq currentTab 'items')}}
    <div class="tab items">
      <ol class="items-list">
        {{#each actor.items as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <img class="item-img" src="{{item.img}}"/>
          <div class="item-details">
            <h4 class="item-name">{{item.name}}</h4>
            <textarea class="item-description" name="system.description" placeholder="Description">{{item.system.description}}</textarea>
          </div>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
    {{/if}}
    {{#if (eq currentTab 'notes')}}
    <div class="tab notes">
      <div class="form-group">
        <label>Notes</label>
        <textarea name="system.notes">{{system.notes}}</textarea>
      </div>
    </div>
    {{/if}}
    {{#if (eq currentTab 'effects')}}
    <div class="tab effects">
      <ol class="effects-list">
        {{#each actor.effects as |effect id|}}
        <li class="effect flexrow">
          <img class="effect-img" src="{{effect.img}}"/>
          <h4 class="effect-name">{{effect.name}}</h4>
          <div class="effect-description">{{effect.description}}</div>
        </li>
        {{/each}}
      </ol>
    </div>
    {{/if}}
  </section>
</form>