{
  "Actor": {
    "types": ["Deity", "npc"],
    "templates": {
      "base": {
        "health": {
          "value": 15,
          "min": 0,
          "max": 300
        },
        "power": {
          "value": 5,
          "min": 0,
          "max": 150
        },
        "biography": ""
      }
    },
    "character": {
      "templates": ["base"],
      "attributes": {
        "level": {
          "value": 1
        }
      },
      "abilities": {
        "str": {
          "value": 15
        },
        "agi": {
          "value": 15
        },
        "tgh": {
          "value": 15
        },
        "wis": {
          "value": 15
        },
        "int": {
          "value": 15
        },
        "pre": {
          "value": 15
        }
      }
    },
    "npc": {
      "templates": ["base"],
      "level": 1
    }
  },
  "Item": {
    "types": ["item", "Trait", "ForceMajeure", "Relic", "Resource"],
    "templates": {
      "base": {
        "description": ""
      }
    },
    "item": {
      "templates": ["base"],
      "quantity": 1,
      "weight": 0,
      "formula": "1d10 + 5 + @str.mod)"
    },
    "Trait": {
      "templates": ["base"]
    },
    "ForceMajeure": {
      "templates": ["base"],
      "Force Majeure Level": 1
    },
    "Relic": {
      "templates": ["base"]
    },
    "Resource": {
      "templates": ["base"]
    }
  }
};