<div class="attributes-section">
  <div class="attribute population">
    <label>Population</label>
    <input type="number" name="system.population" value="{{system.population}}" min="0"/>
  </div>
  <div class="attribute resources">
    <label>Resources</label>
    <input type="number" name="system.resources" value="{{system.resources}}" min="0"/>
  </div>
</div>